@model ReGenerationProjectAssignment_FundRaiser.Models.Funding_Package

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Funding_Package</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PackageName" class="control-label"></label>
                <input asp-for="PackageName" class="form-control" />
                <span asp-validation-for="PackageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageValue" class="control-label"></label>
                <input asp-for="PackageValue" class="form-control" />
                <span asp-validation-for="PackageValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageRewared" class="control-label"></label>
                <input asp-for="PackageRewared" class="form-control" />
                <span asp-validation-for="PackageRewared" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
