@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div> <br/>

<div class="container-fluid">
    <h2>Trending</h2>
    <div class="row">
        <div class="col">
            Trending Image #1
        </div>
        <div class="col">
            Trending Image #2
        </div>
        <div class="col">
            Trending Image #3
        </div>
    </div>
</div>
<br/>

<div class="container text-center">
    <h3>Categories</h3><br>
    <div class="row">     
        <div class="col-sm-4">
            <a class="nav-link text-dark" href="Projects/TechProjects">
                <img src="./images/tech.jpg" class="img-responsive" style="width:100%; height:200px; object-fit: cover;" alt="Tech">
                <b>Tech</b>
            </a>
        </div>
        <div class="col-sm-4">
            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="ArtProjects">
                <img src="./images/art.jpg" class="img-responsive" style="width:100%; height:200px; object-fit: cover;" alt="Art">
                <b>Art</b>
            </a>
        </div>
        <div class="col-sm-4">
            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="HomeProjects">
                <img src="./images/home.webp" class="img-responsive" style="width:100%; height:200px; object-fit: cover;" alt="Home">
                <b>Home</b>
            </a>
        </div>
    </div>
</div>
<br/>

