@{
    ViewData["Title"] = "ReGeneration Academy on Cloud Tools & Technology vol.4 powered by Microsoft";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<div style="margin-left: auto;
    margin-right: auto;
    width: 30em">
    <h1>@ViewData["Title"]</h1>
    <p>&copy; Team 1</p>
</div>




