@{
    ViewData["Title"] = "ReGeneration Academy on Cloud Tools & Technology vol.4 powered by Microsoft";
    Layout = "~/Views/Shared/_Layout - Main.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>&copy; Team 1</p>


