@model ReGenerationProjectAssignment_FundRaiser.Models.Transaction_Tracker

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Transaction_Tracker</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
