@model ReGenerationProjectAssignment_FundRaiser.Models.Project
@{
    Layout = "~/Views/Shared/Main_layout.cshtml";
    var packages = ViewData["Packages"] as Funding_Package;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Funding Packages</title>
</head>
<body>

    <h3>@Model.Title</h3>
    <h5>Choose a Funding Package:</h5>

    <div>
        @foreach (var f in Model.Funding_Packages)
        { 
            <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => f.PackageName)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => f.PackageValue)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => f.PackageReward)
                </td>
            </tr>
            </table>
        }
    </div>

</body>
</html>