@model List<Project>

@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Art</title>

</head>
<body>
    <h1>Art Projects</h1>

    <table>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <!-- Add more columns as per your project properties -->
        </tr>
        @foreach (var project in Model)
        {
            @if(project != null)
            {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <!-- Add more columns as per your project properties -->
                </tr>
            }
            else
            {
                <p>None Art Project Found </p>
            }
        }
    </table>


</body>
</html>