@model List<Project>

@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tech</title>

</head>
<body>
    <h1>Tech Projects</h1>
   
        <table>
            <tr>
                <th>Project Name</th>
                <th>Description</th>
                <!-- Add more columns as per your project properties -->
            </tr>
            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.Title</td>
                    <td>@project.Description</td>
                    <td><a asp-action="Details" asp-route-id="@project.ProjectId"><i class="bi bi-box-arrow-in-right">FUND</i></a></td>
                    <!-- Add more columns as per your project properties -->
                </tr>             
            }
        </table>
  

</body>
</html>